@charset "UTF-8";

[type="checkbox"] {
	width: 20px;
}
#thChk {
	padding: 0;
}

.radio-box {
	float: left;
	width: 90px;
}

.mt7 {
	margin-top: 7px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml28 {
	margin-left: 28px;
}

.wt88 {
	width: 88px;
}

label {
	cursor: text;
}
.wt170{
	width:170px;
}
.form-block .cal-input .bg-gray{
	padding-left:36px;
}
td{
	height:39px;
}
.table-box-wrap.type02 {
   height: calc(100% - 117px) !important;
}